<p>
  basket works!
</p>




<h1> Order Form </h1>

<form (submit)="onSubmit($event)">

<!-- size, needs to be a drop down menu -->

<p><select
	name="size"
	(ngModel)]="order.size"
	#size="ngModel"
	>

	<option value="small">Small</option>
	<option value="medium">Medium</option>
	<option value="large">Large</option>
</select>
</p>

<!-- date -->

<p><input
	type="Date"
	name="due_date"
	required
	[(ngModel)]="order.due_date"
	#due_date="ngModel"
	/>
</p>

<!-- colors, needs to be a drop down menu -->

<p><select
	name="color"
	(ngModel)]="order.color"
	#color="ngModel"
	>

	<option value="white">White</option>
	<option value="blue">Blue</option>
	<option value="pink">Pink</option>
	<option value="yellow">Yellow</option>'
</select>
</p>



<!-- message -->

<p><input
	type="text"
	name="message"
	required
	[(ngModel)]="order.message"
	#message="ngModel"
	/>
</p>

<!-- add ons, dropdown menu -->

<!-- shipping -->

<p><input
	type="boolean"
	name="shipping"
	required
	[(ngModel)]="order.shipping"
	#shipping="ngModel"
	/>
</p>

<!-- recipient -->

<p><input
	type="text"
	name="recipient"
	required
	[(ngModel)]="order.recipient"
	#recipient="ngModel"
	/>
</p>

<!-- address1 -->

<p><input
	type="text"
	name="address1"
	required
	[(ngModel)]="order.address1"
	#address1="ngModel"
	/>
</p>

<!-- address2 -->

<p><input
	type="text"
	name="address2"
	required
	[(ngModel)]="order.address2"
	#address2="ngModel"
	/>
</p>

<!-- city -->


<p><input
	type="text"
	name="city"
	required
	[(ngModel)]="order.city"
	#city="ngModel"
	/>
</p>

<!-- state -->

<p><input
	type="text"
	name="state"
	required
	[(ngModel)]="order.state"
	#state="ngModel"
	/>
</p>

<!-- zip -->

<p><input
	type="number"
	name="zip"
	required
	[(ngModel)]="order.zip"
	#zip="ngModel"
	/>
</p>

<p><input type="submit" value="Login"/></p>

</form>	