<p>
  basket works!
</p>




<h1> Order Form </h1>

<form (submit)="onSubmit($event)">

<!-- size, needs to be a drop down menu -->

<!-- date -->

<p><input
	type="Date"
	name="due_date"
	required
	[(ngModel)]="order.due_date"
	#due_date="ngModel"
	/>
</p>

<!-- colors, needs to be a drop down menu -->

<!-- message -->

<p><input
	type="text"
	name="message"
	required
	[(ngModel)]="order.message"
	#message="ngModel"
	/>
</p>

<!-- add ons, dropdown menu -->

<!-- shipping -->

<p><input
	type="boolean"
	name="shipping"
	required
	[(ngModel)]="order.shipping"
	#shipping="ngModel"
	/>
</p>

<!-- recipient -->

<p><input
	type="text"
	name="recipient"
	required
	[(ngModel)]="order.recipient"
	#recipient="ngModel"
	/>
</p>

<!-- address1 -->

<p><input
	type="text"
	name="address1"
	required
	[(ngModel)]="order.address1"
	#address1="ngModel"
	/>
</p>

<p><input
	type="text"
	name="address2"
	required
	[(ngModel)]="order.address2"
	#address2="ngModel"
	/>
</p>


<p><input
	type="text"
	name="city"
	required
	[(ngModel)]="order.city"
	#city="ngModel"
	/>
</p>

<p><input
	type="text"
	name="state"
	required
	[(ngModel)]="order.state"
	#state="ngModel"
	/>
</p>

<p><input
	type="number"
	name="zip"
	required
	[(ngModel)]="order.zip"
	#zip="ngModel"
	/>
</p>

<p><input type="submit" value="Login"/></p>

</form>	