<p>
  basket works!
</p>




<form (submit)="onSubmit($event)">


<!-- size -->

<p><input
	type="Date"
	name="due_date"
	required
	[(ngModel)]="order.due_date"
	#due_date="ngModel"
	/>
</p>

<!-- colors -->

<p><input
	type="text"
	name="message"
	required
	[(ngModel)]="order.message"
	#message="ngModel"
	/>
</p>

<!-- add ons -->

<p><input
	type="boolean"
	name="shipping"
	required
	[(ngModel)]="order.shipping"
	#shipping="ngModel"
	/>
</p>

<p><input
	type="text"
	name="recipient"
	required
	[(ngModel)]="order.recipient"
	#recipient="ngModel"
	/>
</p>

<p><input
	type="text"
	name="address1"
	required
	[(ngModel)]="order.address1"
	#address1="ngModel"
	/>
</p>

<p><input
	type="text"
	name="address2"
	required
	[(ngModel)]="order.address2"
	#address2="ngModel"
	/>
</p>





</form>	